body,
html,
* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

#input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  padding: 3%;
  border: 1rem;
  border-style: outset;
  background-color: #fefefe;
  font-size: 3.5rem;
  gap: 5vh;
}

#input label {
  font-size: 3.5rem;
}

#input label input {
  width: 100%;
  font-size: 3rem;
  line-height: 1;
  padding: 1rem;
  background-color: #eeeeee;
  border: 0.5rem;
  border-style: inset;
}

#input input:focus {
  box-shadow: 0 0 1rem #efefef;
}

#input input[type="submit"] {
  margin: 0 auto;
  padding: 1vh 1vw;
  font-size: 3rem;
  border: 1rem;
  border-style: outset;
  border-color: #fefefe;
}

#input input[type="submit"]:active {
  border-style: inset;
}

#results {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
  border: 1rem;
  border-style: outset;
  border-color: #fefefe;
  text-align: center;
  row-gap: 1rem;
  visibility: hidden;

  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#results.show {
  opacity: 1;
  visibility: visible;
}

#results meter::-webkit-meter-optimum-value {
  background: rgb(111, 111, 111);
}
#results meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: rgb(111, 111, 111);
}

#results meter.isnotgood::-webkit-meter-optimum-value {
  background: rgb(255, 55, 55);
}
#results meter.isnotgood::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: rgb(255, 55, 55);
}

#bar {
  display: block;
  align-items: center;
  gap: 2%;
}

#bar #classbar {
  width: 100%;
  margin: 0 auto;
  height: 2rem;
}

#bardescriptor {
  display: flex;
  justify-content: space-between;
}

#bardescriptor * {
  font-size: 1.5rem;
}

#bardescriptor #low {
  text-align: left;
}

#bardescriptor #high {
  text-align: right;
}

#bmi {
  font-size: 5rem;
}

#class {
  font-size: 3rem;
}

b {
  font-size: inherit;
}
