body,
html,
* {
	font-size: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	font-size: 7vh;
	text-align: center;
}

#input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
	margin: 0 auto;
	padding: 3%;
	border: 1rem;
	border-style: outset;
	background-color: #fefefe;
	font-size: 3vh;
}

#input input {
	font-size: 3vh;
	line-height: 1;
	padding: 1rem;
	background-color: #eeeeee;
	border: 0.5rem;
	border-style: inset;
}

#input input:focus {
	box-shadow: 0 0 1rem #efefef;
}

#input input[type="submit"] {
	margin: 0 auto;
	font-size: 4vw;
	border: 1rem;
	border-style: outset;
	border-color: #fefefe;
}

#results {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 1rem auto;
	padding:1rem;
	border: 1rem;
	border-style: outset;
	border-color: #fefefe;
	text-align: center;
	row-gap: 1rem;
	animation-name: "appear";
	animation-duration: 15.5s;
	animation-timing-function: ease-in;
}

#bmi {
	font-size: 5rem;
}

#class {
	font-size: 3rem;
}

b {
	font-size: inherit;
}

@keyframes appear {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
  }